[Unit]
Description=SSH authentication agent
Documentation=man:ssh-agent
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/ssh-agent -D -a ${SSH_AUTH_SOCK}

[Install]
WantedBy=default.target
