"*":
  "atom-beautify":
    general:
      analytics: false
    php:
      rules: "@Symfony,-no_empty_comment"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    projectHome: "~/Git"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
    zoomFontWhenCtrlScrolling: false
  "file-icons":
    coloured: false
  "format-shell":
    indent: 0
    indentSwitch: true
  "header-42":
    login: "abouvier"
  "linter-clang":
    clangDefaultCFlags: "-Wall -Wextra -pedantic -ansi"
    clangDefaultCppFlags: "-Wall -Wextra -pedantic -std=c++11"
  "linter-eslint":
    global:
      globalNodePath: "/usr/lib"
      useGlobalEslint: true
  "linter-shellcheck":
    enableNotice: true
    userParameters: "-x"
  "linter-ui-default":
    panelHeight: 64
    showPanel: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui":
    fontSize: 13
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
