[Desktop Entry]
Name=Weeki Wachee Springs
X-KDE-PluginInfo-Name=WeekiWacheeSprings
X-KDE-PluginInfo-Author=Toni Frissell, agnoiologist
X-KDE-PluginInfo-Website=https://imgur.com/gallery/uLTtF
