#!/bin/sh
if [ -d "${XDG_CONFIG_HOME:-$HOME/.config}"/xprofile.d ] ; then
	for script in "${XDG_CONFIG_HOME:-$HOME/.config}"/xprofile.d/*.sh ; do
		# shellcheck source=/dev/null
		[ -x "$script" ] && . "$script"
	done
	unset script
fi

if [ -d "${XDG_CONFIG_HOME:-$HOME/.config}"/X11/Xresources.d ] ; then
	cat "${XDG_CONFIG_HOME:-$HOME/.config}"/X11/Xresources.d/*.Xresources > ~/.Xresources
fi
