@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tab-close-button {
	display: none !important;
}

.tabbrowser-tab[pending] .tab-background {
	background: rgb(236, 233, 216) !important;
}

.tabbrowser-tab[pending] .tab-label {
	font-style: italic !important;
	color: rgb(204, 0, 0) !important;
}
